@using StoreLibrary.Models;
@model List<ItemModel>
@{
    ViewData["Title"] = "Index";
}
<form method="post" asp-action="Index">
    <input type="text" name="Name" value="@ViewBag.Name" />
    <input type="number" name="Min" value="@ViewBag.min" min="0" max="10000" />
    <input type="number" name="Max" value="@ViewBag.max" min="0" max="10000" />
    <input type="radio" name="Category" value="1" @(ViewBag.category.Equals(1) ? "Checked" : String.Empty) />
    <input type="radio" name="Category" value="2" @(ViewBag.category.Equals(2) ? "Checked" : String.Empty) />
    <input type="radio" name="Category" value="0"/>
    <input type="submit" />
</form>

@foreach(var obj in Model)
{
    <div >
        
        <a asp-controller="Items" asp-action="Details" asp-route-id="@obj.Id">
            <div>
                <img src="/img/@obj.ImgPath" width="100px" height="100px" />
                <h2>@obj.Name</h2>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@obj.Id">Add To Cart</a>
            </div>
        </a>
    </div>
}

