@using StoreLibrary.Models;
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Index";
}
<table>
    @if (TempData["limit"] != null)
    {
        @TempData["limit"]
    }
    @foreach (var obj in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <th><img src="/img/@obj.Item.ImgPath" width="50px" height="50px" /></th>
            <th>@obj.Item.Name</th>
            <th>
                <a asp-controller="Cart" asp-action="RemoveOneItemFromCart" asp-route-itemId="@obj.Item.Id">-</a>
                [@obj.Amount]
                @if (obj.Amount < obj.Item.Quantity)
                {
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@obj.Item.Id">+</a>
                }
                
            </th>
            <th>@obj.Item.Price zł</th>
            <th> <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-itemId="@obj.Item.Id">Delete</a></th>
        </tr>
    }
</table>
Total: @ViewBag.total zł
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Cart" asp-action="Order">Zamów</a>
}
else
{
    <span>zaloguj sie</span>
}


